/* Header */
.header {
  width: 100%;
  .header__navbar {
    background-color: $bg-welcome;
    padding: 0;
  }
  &__container {
    max-width: 1170px;
    padding: 52px 42px 26px 80px!important;
    .header-burger-menu {
      &-list {
        &-item {
          margin: 0 5.5px;
          &:last-child {
            margin-right: 0;
          }
          .header-burger-menu-list-link {
            position: relative;
            color: $white;
            font: 400 $fs-base $font-family-base;
            line-height: 18px;
            padding: 7px 17px;
            text-transform: uppercase;
            text-decoration: none;
            &:hover {
              background-color: $header-link-hover-color;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
}
/* Adaptive for header */
@media (max-width: 1170px) {
  .header {
    &__container {
      max-width: 991px;
      padding: 26px 36px 26px 36px!important;
    }
  }
}
@media (max-width: 991px) {
  .header {
    &__container {
      max-width: 767px;
      padding: 22px 32px!important;
      .header-logo {
        a {
          padding: 0;
        }
        img {
          @include size(97px, 32px);
        }
      }
      button {
        padding: 15px;
        &:focus {
          border-color: $transparent;
        }
        span {
          display: block;
          position: relative;
          @include size(30px, 2px);
          background-color: white;
          &::after, &::before {
            margin-left: -15px;
            content: "";
            position: absolute;
            @include size(30px, 2px);
            background-color: $white;
          }
          &::after {
            bottom: 7px;
          }
          &::before {
            top: 7px;
          }
        }
      }
      .header-logo {
        padding: 0;
      }
      .header-burger-menu {
        &-list {
          display: flex;
          justify-content: flex-start;
          margin: 0;
          &-item {
            padding: 8px 0;
            &:last-child {
            }
            .header-burger-menu-list-link {
              position: relative;
              display: inline-block;
              padding: 7px 15px;
              &:hover {
                transform: translateX(10px);
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .header {
    &__container {
      max-width: 667px;
      .header-logo {
        img {
          @include size(87px,28px);
        }
      }
      .header-burger-menu {
        &-list {
          &-item {
            padding: 8px 0;
            .header-burger-menu-list-link {
              font-size: $fs-small;
              padding: 7px 13px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 667px) {
  .header {
    &__container {
      padding: 18px 28px!important;
      max-width: 480px;
    }
  }
}
@media (max-width: 480px) {
  .header {
    &__container {
      max-width: 320px;
    }
  }
}
