.skills {
  padding: 116px 0 115px;
  width: 100%;
  background-color: $bg-skills;
  color: $blue-dark;

  &__container {
    max-width: 1170px;
    text-align: center;

    .skills__title {
      margin: 0 0 3.75% 4px;
      position: relative;
      font: 700 $fs-title $font-family-base;
      letter-spacing: 4px;
      line-height: 30px;
      text-transform: uppercase;

      &::before {
        @include line;
        background-color: $black;
        opacity: 0.05;
        top: 51px;
        left: 46%;
      }
    }

    .skills__description {
      margin: 0 0 7.2% 7px;
      font: 400 $fs-small-medium $font-family-base;
      letter-spacing: 0.36px;
      line-height: 26px;
    }

    .skills__block {
      padding: 0 24px;

      &-element {
        img {
          position: relative;
          margin: 0 auto 31px auto;
        }

        &-progress {
          position: absolute;
          font: 300 $fs-extra-large $font-family-base;
          line-height: 20px;
          text-transform: uppercase;
          top: 31.4%;
          left: 38%;

          span {
            margin: -2px 0 0 2px;
            font-size: $fs-span;
            letter-spacing: 0.55px;
          }
        }

        &-title {
          font: 700 $fs-medium-small $font-family-base;
          line-height: 18px;
          text-transform: uppercase;
          letter-spacing: 0.48px;
        }
      }
    }
  }
}

@media (max-width: 1170px) {
  .skills {
    padding: 108px 0 100px;

    &__container {
      max-width: 991px;

      .skills__block {
        &-element {
          padding: 0;

          &-progress {
            left: 36%;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .skills {
    padding: 98px 0 90px;

    &__container {
      max-width: 767px;

      .skills__title {
        margin-left: 0;
        font-size: $fs-large-medium;
        letter-spacing: 2px;

        &::before {
          @include line;
          top: 42px;
          left: 45%;
        }
      }

      .skills__description {
        margin-left: 0;
        font-size: $fs-base;
        line-height: 22px;

      }

      .skills__block {
        padding: 0 10px;

        &-element {
          padding: 0;

          &-progress {
            top: 29%;
            left: 41.5%;
          }

          &-title {
            font-size: $fs-medium-smaller;
            line-height: 16px;
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}


@media (max-width: 767px) {
  .skills {
    padding: 78px 0 70px;

    &__container {
      max-width: 320px;

      .skills__title {
        font-size: $fs-extra-medium-large;
        margin-bottom: 20px;

        &::before {
          @include line;
          top: 40px;
          left: 35%;
        }
      }

      .skills__description {
        br {
          display: none;
        }
      }

      .skills__block {

        &-element {
          img {
            margin-bottom: 18px;
          }

          &-progress {
            top: 29%;
            left: 39%;
          }

          &-title {
            margin-bottom: 35px;
          }
        }
      }
    }
  }
}

