/* Services */
.services {
  padding: 118px 0 110px;
  width: 100%;
  background-color: $bg-service;
  color: $white;
  &__container {
    max-width: 1170px;
    text-align: center;
    .services__title {
      margin: 0 0 3.75% 7px;
      position: relative;
      font: 700 $fs-title $font-family-base;
      letter-spacing: 4px;
      line-height: 30px;
      text-transform: uppercase;
      &::before {
        @include line;
        background-color: $black;
        opacity: 0.15;
        top: 51px;
        left: 46%;
      }
    }
    .services__description {
      margin: 0 0 7.2% 7px;
      font: 400 $fs-small-medium $font-family-base;
      letter-spacing: 0.36px;
      line-height: 26px;
    }
    .services__block {
      padding: 0 34px;
      h3 {
        font: 700 $fs-medium $font-family-base;
        line-height: 18px;
        letter-spacing: 0.48px;
        text-transform: uppercase;
        margin-bottom: 22px;
      }
      p {
        font: 300 $fs-base $font-family-base;
        line-height: 24px;
        letter-spacing: 0.32px;
      }
      &-element-flag {
        img {
          margin-bottom: 24.4%;
        }
        &-description {
          margin-left: -10px;
          p {
            padding: 0 26px;
          }
        }
      }
      &-element-crayon {
        img {
          margin: -5px 0 23.8% 8px;
        }
        &-description {
          p {
            padding: 0 30px;
          }
        }
      }
      &-element-gears {
        img {
          margin-bottom: 23.8%;
        }
        &-description {
          margin-left: 5px;
          p {
            padding: 0 22px;
          }
        }
      }
      &-element-rocket {
        img {
          margin: -5px 0 22.5%;
          padding-left: 11px;
        }
        &-description {
          margin-left: 16px;
          p {
            padding: 0 18px;
          }
        }
      }
    }
  }
}
/* Adaptive for services */
@media (max-width: 1170px) {
  .services {
    padding: 108px 0 100px;
    &__container {
      max-width: 991px;
      .services__block {
        &-element-flag {
          &-description {
            p {
              padding: 0 8px;
            }
          }
        }
        &-element-crayon {
          &-description {
            p {
              padding: 0 10px;
            }
          }
        }
        &-element-gears {
          &-description {
            p {
              padding: 0
            }
          }
        }
        &-element-rocket {
          &-description {
            p {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .services {
    padding: 98px 0 90px;
    &__container {
      max-width: 767px;
      .services__title {
        margin-left: 0;
        font-size: $fs-large-medium;
        letter-spacing: 2px;
        &::before {
          @include line;
          top: 42px;
          left: 46%;
        }
      }
      .services__description {
        margin-left: 0;
        font-size: $fs-base;
        line-height: 22px;
      }
      .services__block {
        padding: 0 40px;
        h3 {
          font-size: $fs-medium-smaller;
          line-height: 16px;
          margin-bottom: 18px;
        }
        p {
          font-size: $fs-smaller;
          line-height: 22px;
          margin-bottom: 30px;
        }
        img {
          margin: 0 0 20% 0;
          padding: 0;
        }
        &-element-flag {
          &-description {
            margin: 0;
            p {
              padding: 0 8px;
            }
          }
        }
        &-element-crayon {
          &-description {
            margin: 0;
            p {
              padding: 0 10px;
            }
          }
        }
        &-element-gears {
          &-description {
            margin: 0;
            p {
              padding: 0
            }
          }
        }
        &-element-rocket {
          &-description {
            margin: 0;
            p {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .services {
    padding: 78px 0 70px;
    &__container {
      max-width: 320px;
      .services__title {
        font-size: $fs-extra-medium-large;
        margin-bottom: 20px;
        &::before {
          @include line;
          top: 68px;
          left: 35%;
        }
      }
    }
  }
}
