
/* Touch */
.touch {
  padding: 120px 0 80px;
  width: 100%;
  background-color: $bg-touch;
  color: $white;
  &__container {
    max-width: 1170px;
    text-align: center;
    .touch__title {
      margin: 0 0 3.75% 7px;
      position: relative;
      font: 700 $fs-title $font-family-base;
      letter-spacing: 4px;
      line-height: 30px;
      text-transform: uppercase;
      &::before {
        @include line;
        background-color: $black;
        opacity: 0.15;
        top: 51px;
        left: 46%;
      }
    }
    .touch__description {
      margin: 0 0 6.5% 7px;
      font: 400 $fs-small-medium $font-family-base;
      letter-spacing: 0.36px;
      line-height: 26px;
    }
    .touch__form {
      width: 860px;
      margin: 0 auto;

      &-element {
        position: relative;
        display:inline-block;

        &-input {
          @include size(414px, 56px);
          background-color: $violet;
          border-radius: 5px;
          padding-left: 25px;
          margin-bottom: 27px;
          color: $white;
          font: 400 $fs-small-medium $font-family-base;
          line-height: 18px;
        }

        & .touch__form-element-input + label {
          position: absolute;
          font: 400 $fs-small-medium $font-family-base;
          top: 16px;
          left: 26px;
        }

        & .touch__form-element-input:focus + label {
          opacity: 0;
        }

        & .touch__form-element-input + label:after {
          font: $fs-base $font-family-required;
          content: ' *';
          color: $red;
        }
      }

      &-element:nth-child(1) {
        margin-right: 13px;
      }

      &-element:nth-child(2) {
        margin-left: 13px;
      }


      &-text {
        width: 100%;
        position: relative;
        display: inline-block;

        &-textarea {
          background-color: $violet;
          border-radius: 5px;
          padding-left: 25px;
          color: $white;
          font: 400 $fs-small-medium $font-family-base;
          line-height: 18px;
          padding-top: 22px;
          margin-bottom: 0;
          overflow: auto;
          min-height: 64px;
          @include size(100%, 200px);

          &-resizer {
            position: absolute;
            bottom: 15px;
            right: 6px;
          }
        }

        & .touch__form-text-textarea + label {
          position: absolute;
          font: 400 $fs-small-medium $font-family-base;
          top: 18px;
          left: 26px;
        }

        & .touch__form-text-textarea:focus + label {
          opacity: 0;
        }

        & .touch__form-text-textarea:valid + label {
          opacity: 0;
        }

        & .touch__form-text-textarea + label:after {
          font: $fs-base $font-family-required;
          content: ' *';
          color: $red;
        }
      }

    
      .submit {
        color: $white;
        background-color: $blue-cyan;
        border-bottom: 4px solid $border-shadow;
        border-radius: 5px;
        padding: 20px 82px 16px;
        text-transform: uppercase;
        font: 600 $fs-small-medium $font-family-base;
        letter-spacing: 0.025em;
        line-height: 30px;
        margin: 52px 0 35px 4px;
        &:hover {
          background-color: $blue-cyan-dark;
          border-bottom: 4px solid $border-shadow-smaller;
        }
      }
    }
  }
}
/* Adaptive for touch */
@media (max-width: 1170px) {
  .touch {
    padding: 108px 0 100px;
    &__container {
      max-width: 991px;
    }
  }
}
@media (max-width: 991px) {
  .touch {
    padding: 98px 0 90px;
    &__container {
      max-width: 767px;
      .touch__title {
        margin-left: 0;
        font-size: $fs-large-medium;
        letter-spacing: 2px;
        &::before {
          @include line;
          top: 42px;
          left: 46%;
        }
      }
      .touch__description {
        margin-left: 0;
        font-size: $fs-base;
        line-height: 22px;
      }
      .touch__form {
        width: 620px;

        &-element {

          &-input {
            @include size(380px, 50px);
            font-size: $fs-base;
            line-height: 16px;
            margin-bottom: 20px;
          }

          & .touch__form-element-input + label {
            top: 12px;
            font-size: $fs-base;
          }

          & .touch__form-element-input + label:after {
            font-size: $fs-smaller;
          }
        }

        &-element:nth-child(1) {
          margin-right: 0;
        }
  
        &-element:nth-child(2) {
          margin-left: 0;
        }

        &-text {
          margin: 0;

          &-textarea {
            font-size: $fs-base;
            line-height: 16px;
          }

          & .touch__form-text-textarea + label {
            top: 14px;
            font-size: $fs-base;
          }

          & .touch__form-text-textarea + label:after {
            font-size: $fs-smaller;
          }
        }
        
        .submit {
          border-bottom: $border-shadow-smaller;
          padding: 18px 50px 14px;
          font-size: $fs-base;
          line-height: 28px;
          margin: 20px 0 30px 2px;
          &:hover {
            border-bottom: 3px solid $border-shadow-smaller;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .touch {
    padding: 78px 0 70px;
    &__container {
      max-width: 320px;
      .touch__title {
        font-size: $fs-extra-medium-large;
        margin-bottom: 20px;
        &::before {
          @include line;
          top: 38px;
          left: 35%;
        }
      }
      .touch__form {
        width: 290px;
        
        .touch__form-element {
          width: 100%;

          .touch__form-element-input {
            width: 100%;
          }
        }
      }
    }
  }
}
