/* Color */
$transparent: transparent;
$white: #fff;
$white-light: #f7f3ea;
$black: #000;
$orange: #eb7d4b;
$brown: #878787;
$red: red;
$black-gray: #393939;
$black-light: #27283d;
$blue-light: #30bae7;
$blue-dark: #3c4761;
$yellow-light: #ffdd99;
$violet: #273a71;
$blue-cyan: #30bae7;
$blue-cyan-dark: #2892b5;


/* Background-color */

$bg-welcome: #87509c;
$bg-service: #17c2a4;
$bg-skills: #ffffff;
$bg-meet: #e7f1f8;
$bg-portfolio: #ffdd99;
$bg-response: #d74680;
$bg-touch: #3c5499;
$bg-footer: #344b8e;

/* Border-color */

$border-button: #cbcbcb;

/* Font-size */

$fs-extra-smaller: 12px;
$fs-extra-small: 13px;
$fs-smaller: 14px;
$fs-small: 15px;
$fs-small-medium: 18px;
$fs-small-large: 19px;
$fs-medium-smaller: 20px;
$fs-medium-small: 22px;
$fs-medium: 24px;
$fs-medium-large: 26px;
$fs-extra-medium-large: 28px;
$fs-large-smaller: 30px;
$fs-large-small: 34px;
$fs-large-medium: 36px;
$fs-large: 42px;
$fs-extra-large: 50px;

/* Base font-size */

$fs-base: 16px;
$fs-response: 21px;
$fs-span: 32px;
$fs-title: 40px;

/* Font Family */

$font-family-base: "Titillium Web", sans-serif;
$font-family-required: "Arial MT";

/* RGBA */

$border-shadow: rgba(0, 0, 0, 0.16);
$border-shadow-small: rgba(0, 0, 0, 0.14);
$border-shadow-smaller: rgba(0, 0, 0, 0.12);

/* Hover */

$button-hover-color: #ff964b;
$header-link-hover-color: #643a79;