/* Color */

$white: #fff;
$white-light: #f7f3ea;
$black: #000;
$orange: #eb7d4b;


/* Background-color */

$bg-welcome: #87509c;
$bg-service: #17c2a4;


/* Border-color */

$border-button: #cbcbcb;

/* Font-size */

$fs-extra-smaller: 12px;
$fs-extra-small: 13px;
$fs-smaller: 14px;
$fs-small: 15px;
$fs-small-medium: 18px;
$fs-small-large: 19px;
$fs-medium-smaller: 20px;
$fs-medium-small: 22px;
$fs-medium: 24px;
$fs-medium-large: 26px;
$fs-extra-medium-large: 28px;
$fs-large-smaller: 30px;
$fs-large-small: 34px;
$fs-large-medium: 36px;
$fs-large: 42px;

/* Base font-size */

$fs-base: 16px;
$fs-title: 40px;

/* Font Family */

$font-family-base: "Titillium Web", sans-serif;

/* RGBA */

$border-shadow: rgba(0, 0, 0, 0.15);
$border-shadow-small: rgba(0, 0, 0, 0.10);
$border-shadow-smaller: rgba(0, 0, 0, 0.8);

/* Hover */

$button-hover-color: #ff964b;